# ==========================================
# Network & General Settings
# ==========================================
# Host IP address used for OpenTCS Java RMI and Web API connections
HOST_IP=192.168.3.142

# ==========================================
# OpenTCS Paths
# ==========================================
# Absolute paths to OpenTCS configs on the host server
OPENTCS_CONFIG_DIR=/home/amy/fleet_server/opentcs/config
OPENTCS_DATA_DIR=/home/amy/fleet_server/opentcs/data
