# ==========================================
# Network & General Settings
# ==========================================
# Host IP address used for OpenTCS Java RMI and RMF Dashboard server URL
HOST_IP=192.168.3.142

# ROS2 Domain ID (Used across multiple containers)
ROS_DOMAIN_ID=20

# ROS2 Discovery Server (if applicable)
ROS_DISCOVERY_SERVER=127.0.0.1:11811

# ==========================================
# OpenTCS Paths
# ==========================================
# Absolute paths to OpenTCS configs on the host server
OPENTCS_CONFIG_DIR=/home/amy/fleet_server/opentcs/config
OPENTCS_DATA_DIR=/home/amy/fleet_server/opentcs/data

# ==========================================
# Open-RMF Paths
# ==========================================
# Absolute path to API Server Config
RMF_API_CONFIG_FILE=/home/amy/rmf_api_config/my_config.py

# Absolute path to deploy maps for API server and Building Map Server
RMF_MAPS_DIR=/home/amy/deploy_maps

# Dashboard Authentication (Leave basic/stub settings here)
RMF_DASHBOARD_USER=admin
RMF_DASHBOARD_PASSWORD=admin

# ==========================================
# Fleet Adapters Paths
# ==========================================
# Yahboom Map Path for Adapter
YAHBOOM_MAP_FILE=/home/amy/rmf_compile_map/L1.nav/0.yaml
